//colors
$background : #FCFCFC;
$pink: #F6888F;
$green: #3CA957;
$light-green: #88F6A3;

body{
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.table td{
    padding: 15px !important;
    vertical-align: top;
    font-family: 'Roboto';
    font-size: 15px;
}

h3{
  font-family: 'Roboto' !important;
}

.sum{
  float: right;
  font-size: 30px;
  font-weight: light;
  font-family: 'Roboto Slab', sans-serif;
}

.piggy{
  width: 300px;
  margin: 30px 50px;
}

.intro{
  p{
    text-align: center;
  }
  ul{
    margin-top: 20px;
    width: 100%;
    padding: 0;
    .intro-btn{
      width: 80%;
      background-color: $green;
      color: white;
      padding: 20px;
      font-size: 15px;
      margin: 0 auto 10px auto;
      text-transform: uppercase;
    }
  }
}




