//colors
$background : #FCFCFC;
$pink: #F6888F;
$green: #3CA957;
$light-green: #88F6A3;

.container{
  padding: 0 !important;
}

body{
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.table td, .table th{
    padding: 15px !important;
    vertical-align: top;
    font-family: 'Roboto';
    font-size: 15px;
}

.table th{
  text-transform: uppercase;
  font-size: 13px;
}

h3{
  font-family: 'Roboto' !important;
  font-size: 18px;
}

a{
  display: block;
}

a:hover{
  text-decoration: none;
}

.sum{
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  width: 100%;
  text-align: center;
  margin: 0;
}

.piggy{
  width: 300px;
  margin: 30px 50px;
}

#header{
  display: inline-block;
  width: 100%;
  .piggy-sm{
    width: 60px;
    margin: 10px;
    float: left;
  }
  .cont{
    float: left;
    padding: 25px 0;
    
    display: inline-block;
    font-size: 19px;
    p{
      float: left;
    }
    select{
      float: left;
      width: 100px;
      background: #eee;
      margin: 0 10px;
    }
  }
}

/*
#header{
  display: inline-block;
  width: 100%;
  background: #eee;
  .piggy-sm{
    width: 60px;
    margin: 10px;
    float: left;
  }
  h3{
    float: left;
    padding-top: 13px;
    margin-left: 20px;
  }
}
*/


.intro{
  p{
    text-align: center;
  }
  ul{
    margin-top: 20px;
    width: 100%;
    padding: 0;
    li{
      width: 80%;
      background-color: $green;
      color: white;
      padding: 20px;
      font-size: 15px;
      margin: 0 auto 10px auto;
      text-transform: uppercase;
      opacity: 0;
    }
  }
}

.intro-btn:hover{
  background-color: $light-green !important;
}

.table-striped>tbody>tr:nth-of-type(odd){
  background-color: rgba(136, 246, 163, .5);
}


.intro-btn a:nth-child(1){
  border: 1px solid red;
}

@for $i from 1 through 5 {
  .intro-btn-#{$i}{
    animation: move;
    animation-delay: $i * .5s;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
  }
}

@keyframes move {
   0%   {opacity:0}
  100%  {opacity:1}
}

.hello{
  animation: move;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
  opacity: 0;
}

.custom-select{
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  font-size: 18px;
}
