.container {
  padding: 0 !important; }

body {
  background-color: #FCFCFC;
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }

.table td, .table th {
  padding: 15px !important;
  vertical-align: top;
  font-family: 'Roboto';
  font-size: 15px; }

.table th {
  text-transform: uppercase;
  font-size: 13px; }

h3 {
  font-family: 'Roboto' !important;
  font-size: 18px; }

a {
  display: block; }

a:hover {
  text-decoration: none; }

.sum {
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0; }

.piggy {
  width: 300px;
  margin: 30px 50px; }

#header {
  display: inline-block;
  width: 100%; }
  #header .piggy-sm {
    width: 60px;
    margin: 10px;
    float: left; }
  #header h3 {
    float: left;
    padding: 20px;
    background: #eee; }

/*
#header{
  display: inline-block;
  width: 100%;
  background: #eee;
  .piggy-sm{
    width: 60px;
    margin: 10px;
    float: left;
  }
  h3{
    float: left;
    padding-top: 13px;
    margin-left: 20px;
  }
}
*/
.intro p {
  text-align: center; }

.intro ul {
  margin-top: 20px;
  width: 100%;
  padding: 0; }
  .intro ul li {
    width: 80%;
    background-color: #3CA957;
    color: white;
    padding: 20px;
    font-size: 15px;
    margin: 0 auto 10px auto;
    text-transform: uppercase;
    opacity: 0; }

.intro-btn:hover {
  background-color: #88F6A3 !important; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(136, 246, 163, 0.5); }

.intro-btn a:nth-child(1) {
  border: 1px solid red; }

.intro-btn-1 {
  animation: move;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.intro-btn-2 {
  animation: move;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.intro-btn-3 {
  animation: move;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.intro-btn-4 {
  animation: move;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.intro-btn-5 {
  animation: move;
  animation-delay: 2.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes move {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.hello {
  animation: move;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0; }
